h1 {
    margin-top: 2%;
    color: green;
    text-align: center;
    margin-bottom: 5%;
}


.card-deck {
    padding: 0;
    margin-top: 3%;

}

.card-img-overlay {
    padding: 0;
    margin-bottom: 1%;
}

.col-2 {
    text-align: right;
}

.col-4 {
    text-align: left;
   
}

.col-7 {
    text-align: right;
    
}

.col-5 {
    text-align: left;
}


.gamecontainer {
    margin-top: 5%;


}




.row {
width: 40%;
margin: 0 auto 0 auto;

}